body{
	padding: 0;
	margin: 0;
 	width: 100%;
    height: 100%;
    background-color: #fafafa;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 48px;
	color: #F82335;
	opacity: 0.5;
	text-align: center;
	top: 20px;
	padding: 0;
	margin: 0;
	height: 50px;
}
/*Поле ввода текста*/
.head-field .entry-field{
	width: 500px;
	height: 30px;
	padding: 5px;
	display: block;
	position: absolute;
	left: 50%;
	margin-top: 0;
	margin-left:-250px;
	top: 60px;
	text-align: left;
	padding-left: 20px;
	border: 1px solid #999999;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	border-radius: 30px;
	outline:none;
}

/*Выпадающий список*/
.to-do-item {
	width: 475px;
	height: 20px;
	display: flex;
	left: 50%;
	margin-left:-250px;
	margin-top: 5px;
	top: 45px;
	text-align: left;
	padding: 5px;
	padding-left: 20px;
	cursor: pointer;
  	position: relative;
  	background: #eee;
  	border: 1px solid #999999;
	border-radius: 10px;
	background-color: #ffffff;
}

/*Иконка закрытия*/
.fa-window-close, .fa-checked {
	position: absolute;
	height: auto;
	width: auto;
	left: 475px;
	bottom: 6px;
	color: #C44732;
}

.fa-circle-thin, .fa-check-circle{
	position: absolute;
	z-index: -1;
	left: -22px;
	top: 6px;
}

.fa-check-circle{
	color: #5DC2AF;
}

.checkbox {
	position: absolute;
	height: auto;
	width: auto;
	left: -25px;
	opacity: 0;	
}

.to-do-item.checked {
	text-decoration: line-through;
	opacity: 0.5;
}

.button-list {
	width: 500px;
	height: 30px;
	display: flex;
	position: relative;
	left: 50%;
	margin-left:-250px;
	top: 45px;
}

.button-list .button {
	display: flex;
	height: 25px;
	margin: auto;
	background: #eee;
  	border: 1px solid #999999;
	border-radius: 10px;
	background-color: #ffffff;
	outline:none;
}

.button.clicked {
	display: flex;
	height: 25px;
	margin: auto;
	background: #eee;
  	border: 2px solid #4A76A8;
	border-radius: 10px;
	background-color: #ffffff;
	outline:none;

}

.to-do-item.filtered {
	display: none;
}